node_modules
.DS_Store
*.swp
.gitignore
.elasticbeanstalk/
credentials.js
fixtures
seed_blog_data.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
