<!doctype html>
<html>


<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <style>
    @media only screen and (max-width: 500px) {
        div.text_section {
            font-size: 3em;
        }
    }
    * {
      border: 0px solid black;
    }
    #map {
        height: 450px;
        width: 100%;
    }
    p.caption {
      margin-top: 10px;
      margin-bottom: 25px;
      font-style: italic;
      font-size: small;
      text-align: center;
    }
    img.medium_icon_centered {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    div.text_section {
      font-size: 1.5em;
    }
    .row h1 {
        text-align: center;
    }
    .about_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 400px;
    }
    .sm_icon {
        max-width: 100%;
        max-height: 100%;
    }
    #background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
    }
    .stretch {
        width: 100%;
        height: 100%;
    }
    div.content_square {
        border: 1px solid gray;
        padding: 10px;
        text-align: center;
        color: black;
        text-decoration: none;
    }
    div.content_square img {
        margin-bottom: 10px;
        max-width: 100%;
        max-height: 100%;
    }
    img.blog_img_main {
        max-width: 100%;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .grid-sizer, .grid-item {
        width: 33.333%;
    }
    .grid-item {
        float: left;
        background: #D6EAF8;
        border: 2px solid #333;
        border-color: hsla(0, 0%, 0%, 0.5);
        border-radius: 5px;
    }
  </style>
  <title>Tristan's Personal Website</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Tristanity</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/doodads">Doodads</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div>
  </nav>
  {{{ body }}}
</body>
</html>
