<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>Random Stuff I Write</h1>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid-sizer"></div>
  {{#each blogs}}
  <div class="grid-item">
    <div class="content_square">
      <img src="{{image}}"></img>
      <a href="blogs/{{_id}}">{{title}}</p></a>
    </div>
  </div>
  {{/each}}
</div>

<script>
    $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true
    });
</script>
