<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Consider the Brogrammer</h1>
    </div>
  <div class="row">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="text_section">
        <p>
As a software developer myself, one of the pervasive Silicon Valley mythos that has always captured my imagination and stood out to me for it’s ridiculousness is that of the legendary “brogrammer.”  What is a brogrammer?  For that, I turn to Urban Dictionary, the authoritative source on these kinds of matters.  Urban dictionary defines the term “brogrammer” thusly:
        </p>
        <img class="blog_img_main" src="/img/urban_dictionary_brogrammer.png">
        <h2>Top 5 Brogrammers</h2>
        <p>
Popular culture and media is rife with examples of these legendary figures.  Here's my personal top five list of brogrammers:
        </p>
          <img class="blog_img_main" src="/img/evan_spiegel.png"></img>
           <h4>
1. Evan Spiegel (Founder of SnapChat)
           </h4>
           <p>
There’s nothing more bro than being a billionaire tech founder who rebounds from a breakup with Taylor Swift by going out with Miranda Kerr.  Enough said.
          </p>

        <img class="blog_img_main" src="/img/sean_rad.jpg"></img>
        <h4>
2. Sean Rad (Founder of Tinder)
        </h4>
        <p>
This guy literally built a blockbuster app where people can find other people to date based on no more than a few pictures on a tiny mobile screen.  A whole generation of urban millenials can now thank this guy for how convenient getting laid is.  Also, a great way to kill time while waiting in line to get into Piano's.
        </p>

        <img class="blog_img_main" src="/img/russ_hanneman.jpg"></img>
        <h4>
3.  Russ Hanneman (Guy who put the radio on the Internet)
        </h4>
        <p>
This character from the hit HBO show “Silicon Valley” is some weird uber-bro synthesis of Dan Bilzerian and Mark Cuban.  He’s the guy that introduced the world to the Tres Commas Club, which is the cool way of saying you are a billionaire.  Here I am still stuck in the Una Comma club like some kind of plebeian.
        </p>
        
        <img class="blog_img_main" src="/img/sean_parker.jpg"></img>
        <h4> 
4. Sean Parker (Founder of Napster, former President of Facebook)
        </h4>
        <p>
This guy founded a “file sharing” service, which we all know is just a euphemism for a way to download stuff illegally before Spotify became a thing.  Most people, however, will no doubt know him from the movie The Social Network as that rich, douchey guy who’s always trying to pick up women half his age.  Living the dream.
        </p>

        <img class="blog_img_main" src="/img/rap_genius_founders.jpg"></img>
        <h4>
5)  Ilan Zechor, Mahbod Moghadam and Tom Lehman (Co-Founders of Rap Genius)
        </h4>
        <p>
The self described Jean-Ralphios of tech, these guys are known for building a site where people can scroll over music lyrics to learn about the rich, subtle duality in Drake's music lyrics, whereby some things mean both anal sex and fixing a metaphorical car at the same time.  For example, “Cock up yuh bumper, sit down pon it, Let me see if this is something I can fix.”
        </p>
        <h2>Brogrammer Genesis</h2>
        <p>
Where did this brogrammer culture come from?  According to <a href="http://www.bizjournals.com/newyork/blog/techflash/2014/07/nick-parish-on-the-big-apple-origins-of-brogrammer.html">one source</a>, the first use of the term programmer was back in May of 2007 by the CTO of Vimeo.  In other words, a very recent phenomenon.
        </p>
        <p>
So far, I’ve come to the conclusion that the rise of brogrammer culture is due to the convergence of a few related threads.
        </p>
        <p>
Firstly, it’s a reaction to the traditional view of programmers as passive, socially awkward nerds who sport pocket protectors and thick-rimmed glasses (before hipsters made it cool).  I think some people have swung the pendulum the complete opposite direction and donned the frat-boy swagger in an attempt to shatter and stray away from that mostly negative stereotype.
        </p>
        <p>
Secondly, it seems to me that software engineering has progressed to the point where a lot of the nitty-gritty engineering detail has been sufficiently abstracted away and thus allowed a much wider swath of people to participate.  You no longer have to know anything about assembly code, about how the computer hardware uses memory internally, or any of the other esoteric computer topics that you needed to know back in the olden days of yore to make software.  While a computer nerd might enjoy delving into the gory details of all this, the vast majority of people do not.  Anyone with a genuine interest in building something cool can very quickly pick up a framework and crank out a website or app.  The minimum bar for computer programming knowledge needed to create useful applications has gone down significantly.  This has allowed groups of people (like bros) that were once excluded from the process to join in.
        </p>
        <p>
Lastly, technology has slowly but surely become mainstream and thus “cool”.  What was once the sole domain of guys tinkering with gadgets in their garage has become vital to the day-to-day enjoyment of just about everybody.  Ride the MTA subway in Manhattan and more than half of the people in there will have their eyes glued to a shiny, white iPhone desperately avoiding the faux pas of crossing glances with someone else.  This cultural shift in the view of technology has, I think, prompted a rebranding of the average tech worker.
        </p>
        <h2>The Tech Problem</h2>
        <p>
Regardless of its causes, this particular tech culture has undoubtedly reinforced the perception of the tech industry as a decidedly male and testosterone-driven environment.  The great irony of it all is that any Silicon Valley acolyte will tell you tech is a meritocratic place lacking politics, when, in reality, it has become more and more of an old boys club (well, maybe not old, persay, but you get the point).  It’s an environment that has become steadily more exclusionary to minorities, in particular women.
        </p>
        <p>
To illustrate, the US Census Bureau reports that women have steadily been comprising a larger and larger share of the STEM workforce over time with one exception: computer workers.
        </p>
        <img class="blog_img_main" src="/img/declining_women_tech.png"></img>
        <p>
As seen in this infographic, women represented a third of computer workers in 1990, about 30% in 2000, and only 27% in 2011.  Now, as of this writing, the year is 2016 and one might wonder if this trend has stopped or even reversed itself since this little infographic was released.  Curious myself, I decided to do some extensive Googling around to find an answer.  I was not able to find any updated numbers by the US Census Bureau, but I was able to find some figures for 2015 by the United States Department of Labor.  <a href="https://www.dol.gov/wb/stats/stats_data.htm#facts">According to them</a>, women in 2015 comprised 26% of employees in computer and mathematical occupations.  In short, the declining situation of women participating in the computer workforce has not measurably improved.
        <p>
        </p>
        <p>
So we know less and less women are rearing to work in tech as computer workers, but do we have any evidence that this brogrammer culture has anything to do with it?  I dug into this a bit and found a compelling data survey put forward by Kieran Snyder, who’s been at Amazon and Microsoft in high ranking leadership positions.  She interviewed 716 different women spanning 654 different companies who had left their tech careers behind.  27% of participants in the survey cited discomfort with the work environment and some form of discrimination as reasons.  97% of them say they will never return to the tech industry. 
        </p>
        <p>
All this is not to say that being bro as a programmer is something bad to be vilified.  On the contrary, I don’t really think there’s anything wrong with being a bro anymore than I see there being a problem with someone belonging to a specific cultural subtype like, say, a skater.  I see it more a question of homogeneity where diversity is key.  It is when bro as a culture is enforced in a clunky fashion as it seems to be in certain tech companies that a hostile environment is created.
        </p>

    </div>
  </div>

</div>
