<div class="container-fluid">
  <div class="row">
   <div class="col-md-8 col-md-offset-2">
     <h1>Contact Me</h1>
     <br></br>
     <p>
Feel free to reach out and message me through one of the channels below.  I usually respond as long as you're not a weirdo.  I believe in making thoughtful connections so I probably won't add you on anything if we haven't met before or had some meaningful form of conversation (online or otherwise).
     </p>
   </div>  
  </div>
  <div class="row">
   <div class="col-md-8 col-md-offset-2">
     <h1>Social Media</h1>
     <br></br>
    <div class="col-md-2 col-md-offset-2">
      <a href="//twitter.com/OhTheTristanity">
        <img class="sm_icon" src="img/twitter_icon.jpg"></img>
      </a>
    </div>
    <div class="col-md-2">
      <a href="//www.facebook.com/ohthetristanity">
        <img class="sm_icon" src="img/facebook_icon.png"></img>
      </a>
    </div>
    <div class="col-md-2">
      <a href="//www.linkedin.com/in/tristan-benavides-4a270a25?trk=hp-identity-name">
        <img class="sm_icon" src="img/linkedin_icon.png"></img>
      </a>
    </div>
    <div class="col-md-2">
      <a href="//www.instagram.com/the_tristanity/">  
        <img class="sm_icon" src="img/instagram_icon.png"></img>
      </a>
    </div>
   </div> 
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br></br>
      <h1>Email Me</h1>
      <br></br>
      <form>
        <fieldset class="form-group">
          <label for="senderEmail">Your E-Mail Address</label>
          <input type="email" class="form-control" id="senderEmail" placeholder="Enter your email address">
        </fieldset>
        <fieldset class="form-group">
          <label for="subject">Subject</label>
          <input type="email" class="form-control" id="subject" placeholder="Enter the subject">
        </fieldset>
        <fieldset class="form-group">
          <label for="emailBody">Message</label>
          <textarea class="form-control" id="emailBody" rows="5"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br></br>
        <br></br>
    </div>
   </div>
  </div>
</div>


