<div id="background">
  <img src="{{static '/img/california_landscape.jpg'}}" class="stretch"></img>
</div>

<div id="tristan_blurb">
    <img src="{{static '/img/headshot0.jpg'}}"></img>
    <div class="blurb_text">
     I am a Brooklyn transplant from Los Angeles.  I write artisinal software made from the finest of keystrokes. My code creates a rich and vibrant tapestry of indentations that is scenic to behold.
        When I am not creating code, I like to lift heavy objects from point A to point B, over and over again.
        I also write other stuff that is meant to be read by humans. I can also play Jingle Bells on the guitar for the holidays.  Very interested in politics, literature and mathematics.
    </div>   
</div>
